{% autoescape off %}
<html>
<head>
    <title>Tajinder's English Classes&#174 - IELTS PTE CELPIP STUDY VISA SPOKEN ENGLISH - ONLINE CLASSES</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
</head>
<body>
<table style="width:600px;box-shadow:0px 1px 3px 2px #cabdbd;padding:0 ;margin:auto;font-family: 'Titillium Web', sans-serif;color: #5c5454;border-spacing: unset;">
    <tr style="text-align:center;background:#f0f0f0;">
        <td><p style="margin:5px 0;font-size:18px;"><strong>Email:</strong> info@teconline.in&nbsp;&nbsp;<strong>Phone:</strong> +91 981 461 5132</p></td>
    </tr>
    <tr style="margin-bottom:10px;text-align:center;">
        <td><a href="{{WEB_SITE_URL}}"><img style="padding-top:20px;" src="{{WEB_SITE_URL}}static/images/tec-logo.png"
                 alt="Tajinder's English Classes"/></a></td>
    </tr>
    <tr>
        <td style="color:#000;padding:10px 20px;text-align:center;"><h1 style="margin:0;font-size:32px;border-top:2px solid;
    border-bottom:2px solid;">Welcome to Tajinder's English Classes</h1>
        </td>
    </tr>
    <tr style="text-align:center;">
        <td style="padding:0 20px;font-size:18px;">
            <h3>Thanks for joining TEC classes.</h3>
        <p style="margin:5px 0;">Your account has been created.</p>
            <p style="margin:5px 0;">Please click below link to confirm your account.<br/>
            <a href="{{ protocol }}://{{ domain }}{% url 'activate' uidb64=uid token=token %}" style="background:#970c00;color:#fff;text-decoration:none;padding:5px 30px;
    font-size: 25px;margin: 20px 0;display:inline-block;border-style:double;">Confirm Account</a></p>
        </td>
    </tr>
      <tr style="">
        <td  style="background-color:#fff; text-align:center; padding:25px 50px; box-shadow: 0px 3px 10px -2px #7193c1;"><h2 style="color:#072444; ">Get the Tec</h2>
        <p style="font-size:19px; color:#666666;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.webtunix.techapp"><img src="{{WEB_SITE_URL}}static/images/playstore.png"></a>
        </td>
    </tr>
    <tr style="text-align:center;background:#f0f0f0;">
        <td>
            <div style="text-align: center;">
                <h3 style="color:#970d00;margin:10px 0;"><strong>Follow Us</strong></h3>
                <a href="https://www.facebook.com/tajindersenglishclasses/" target="_blank">
                    <img src="{{WEB_SITE_URL}}static/images/fb.png" alt="Facebook" width="30"/></a>&nbsp;
                <a href="https://twitter.com/tajinder_s" target="_blank">
                    <img src="{{WEB_SITE_URL}}static/images/twitter.png" alt="Twitter" width="30"/></a>&nbsp;
                <a href="https://www.instagram.com/tajinder_english_classes/" target="_blank">
                    <img src="{{WEB_SITE_URL}}static/images/instagram.png" alt="Instagram" width="30"/></a>
            </div>
        </td>
    </tr>
</table>
</body>
</html>
{% endautoescape %}
