<!DOCTYPE html>
<html>
<head>
    <title>Tajinder's English Classes&#174 - IELTS PTE CELPIP STUDY VISA SPOKEN ENGLISH - ONLINE CLASSES</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
</head>
<body>
<table style="width:700px;box-shadow:0px 1px 3px 2px #cabdbd;padding:0;margin:auto;font-family: 'Titillium Web', sans-serif;color:#5c5454;border-spacing:unset;">
    <tr style="text-align:center;background:#f0f0f0;">
        <td><p style="margin:5px 0;font-size:18px;"><strong>Email :</strong> info@teconline.in&nbsp;&nbsp;<strong>Phone
            :</strong> +91 981 461 5132</p></td>
    </tr>
    <tr style="margin-bottom:10px;text-align:center;">
        <td><a href="#"><img style="padding-top:20px;" src="images/tec-logo.png"
                             alt="Tajinder's English Classes"/></a></td>
    </tr>
    <tr>
        <td style="color:#000;padding:10px 20px;text-align:center;"><h1 style="margin:0;font-size:32px;border-top:2px solid;
    border-bottom:2px solid;">Payment Cancel</h1>
        </td>
    </tr>
    <tr>
        <td style="color: #5c5454;padding:20px;font-size:18px;"><h2 style="margin:0;text-align:center;">Hi <strong>user,</strong></h2>
            <p style="text-align:center;">We are so excited that you are here and we can't wait to show you everything we have in store for you.Here are the just few of the
            things we think make you make you truely happy about the choice you have made.</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center;"><a href="#" style="background:#970c00;color:#fff;text-decoration:none;padding:5px 30px;
    font-size: 25px;margin:0 0 20px;display:inline-block;border-style:double;">Start here</a></td>
    </tr>
    <tr style="text-align:center;background:#f0f0f0;">
        <td>
            <div style="text-align: center;">
                <h3 style="color:#970d00;margin:10px 0;"><strong>Follow Us</strong></h3>
                <a href="https://www.facebook.com/tajindersenglishclasses/" target="_blank">
                    <img src="../static/images/fb.png" alt="Facebook" width="30"/></a>&nbsp;
                <a href="https://twitter.com/tajinder_s" target="_blank">
                    <img src="../static/images/twitter.png" alt="Twitter" width="30"/></a>&nbsp;
                <a href="https://www.instagram.com/tajinder_english_classes/" target="_blank">
                    <img src="../static/images/instagram.png" alt="Instagram" width="30"/></a>
            </div>
        </td>
    </tr>
</table>
</body>
</html>