{% load static %}
{% load staticencoder %}
<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <div class="playlink">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.webtunix.hindumiddleschool">
                <div class="copyright">
                    <p>Copyright &copy; 2020 by BitGallon In Partnership With Webtunix Solutions All Rights Reserved. Designed & Developed by
                        <a href="https://www.BitGallon.com" target="_blank">BitGallon In Partnership With Webtunix Solutions</a>
                    </p>
                </div>
                    </div>
            </div>
            <!--<div class="col-lg-3 col-sm-3"></div>-->
        </div>
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<div class="footer-bottom-links">-->
                    <!--<a href="#">Privacy Policy</a>&nbsp;&nbsp;<a href="#">Terms &amp; Conditions</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</footer>
<a href="#" class="back-to-top">
    <i class="fa fa-arrow-up"></i>
</a>
<div id="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="{% static '' %}js/jquery-min.js"></script>
<script src="{% static '' %}js/popper.min.js"></script>
<script src="{% static '' %}js/jquery.easing.min.js"></script>
<script src="{% static '' %}js/wow.js"></script>
<script src="{% static '' %}js/script.js"></script>
<script src="{% static '' %}js/main.js"></script>

<!--<script>-->
<!--    var message = "Function Disabled";-->
<!--    function clickIE() {-->
<!--        if (document.all) {-->
<!--            alert(message);-->
<!--            return false;-->
<!--        }-->
<!--    }-->
<!--    function clickNS(e) {-->
<!--        if (document.layers || (document.getElementById && !document.all)) {-->
<!--            if (e.which == 2 || e.which == 3 || e.which == 123) {-->
<!--                //alert(message);-->
<!--                return false;-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--    if (document.layers) {-->
<!--        document.captureEvents(Event.MOUSEDOWN);-->
<!--        document.onmousedown = clickNS;-->
<!--    }-->
<!--    else {-->
<!--        document.onmouseup = clickNS;-->
<!--        document.oncontextmenu = clickIE;-->
<!--    }-->
<!--    document.oncontextmenu = new Function("return false")-->
<!--    var isCtrl = false;-->
<!--document.onkeyup=function(e){-->
<!--    if(e.which == 17) isCtrl=false;-->
<!--}-->
<!--document.onkeydown=function(e){-->
<!--    if(e.which == 17) isCtrl=true;-->
<!--    if(e.which == 85 && isCtrl == true) {-->
<!--        return false;-->
<!--    }-->
<!--}-->
<!--$(document).keydown(function (event) {-->
<!--    if (event.keyCode == 123) { // Prevent F12-->
<!--        return false;-->
<!--    } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {-->
<!--        return false;-->
<!--    }-->
<!--});-->
<!--$(function(){-->
<!--    $(document).keydown(function(objEvent) {-->
<!--        if (objEvent.ctrlKey) {-->
<!--            if (objEvent.keyCode == 65) {-->

<!--                return false;-->
<!--            }-->
<!--        }-->
<!--    });-->
<!--});-->
<!--jQuery(document).ready(function($){-->
<!--    $(document).keydown(function(event) {-->
<!--        var pressedKey = String.fromCharCode(event.keyCode).toLowerCase();-->

<!--        if (event.ctrlKey && (pressedKey == "c" || pressedKey == "u")) {-->
<!--            return false;-->
<!--        }-->
<!--    });-->
<!--});-->
<!--</script>-->
