{% load static %}
{% include 'header.html' %}
{% load staticencoder %}
<section class="user-section">
    <div class="container">
        <div class="row">
            <div class="user-form">
                <div class="tec-logo">
                    <a class="navbar-brand" href="/">
                        <img src="{% static '' %}images/tec-logo.png" alt="Tajinder's English Classes">
                    </a></div>
                <h1>Reset Password</h1>
                <p class="user-text">Please enter your Registered Email to get a new password.
                <br/>(Fields marked with <span class="field-required">*</span> are required.)
                </p>
                <form method="post">
                     {% csrf_token %}
                    <div class="form-group">
                        <label> {{ form.email.label }}<span class="field-required">*</span></label>
                        {{ form.email }}
                        <span style="color:red">
                         {% for error in form.email.errors %}
                        {{error}}
                        {% endfor %}
                        </span>
                    </div>

                     <div class="form-btn1">
                    <div class="row">
                         <div class="col-6">
                              <a href="/" class="userbtn1">Back to Home</a>
                        </div>
						 <div class="col-6">
                             <input type="submit" value="Submit" class="userbtn2"/>
                        </div>
                    </div>
                </div>
                </form>
                <div class="form-links">
                     <p>New User? <a href="../sign-up">Create Account</a></p>
                    <p>Already A Member? <a href="../sign-in">Sign In</a></p>
                </div>
            </div>
        </div>
    </div>
</section>