{% load static %}
{% include 'header.html' %}
<!--<video id="tec-background-video" autoplay="autoplay" loop="loop" autobuffer="autobuffer" muted="muted">-->
    <!--<source src="{% static '' %}images/tec-video.mp4" type="video/mp4">-->
<!--</video>-->
{% include 'nav2.html' %}
<section class="confirmmailsection">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12 no-padd doctors-panel mx-auto">
                <div class="confirmmail">
                    <!--<img src="/static/images/verify.png" alt="verify.png" class="verifyimg">-->
                    <h1 class="text-center section-heading2">Invalid Activation Link!</h1>
                    <h3 class="text-center mailtext">Your Activation link has been Expired or Invalid.</h3>
                    <div class="view-all col-md-12 mt-4">
                <a href="/sign-in" class="viewblogbtn2">Sing In</a>
            </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "footer.html" %}