
{% load static %}
{% load  staticencoder %}
<header id="hero-area" data-stellar-background-ratio="0.5">
    <div class="navigation">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/">
                    <img src="{% image_encode_static 'images/LOGO.png' %}" alt="HINDU MIDDLE SCHOOL">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggler-icon"></span>
                    <span class="toggler-icon"></span>
                    <span class="toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="page-scroll" href="#hero-area">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="#courses">Introduction</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="#features">Message Corner</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="#awards">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="#blog">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                        <li class="nav-item">
                             {% if user.is_authenticated %}
                           <div class="dropdown">
                          <button class="dropmenubtn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


                              {% if user.is_staff == 1 %}
                            <a href="/dashboard" class="dropdown-item" >Dashboard</a>
                              {% endif %}
                              {% endif %}
                             {% if user.is_authenticated %}
                             <a class="dropdown-item" href="/logout">Sign Out</a>
                            </div>
                                 </div>
                              {% else %}
                                 <a href="/sign-in" class="dropmenubtn">Sign In </a>
                              {% endif %}


                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">

            <div class="col-md-12">
                <div class="contents text-center">
                    <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">HINDU MIDDLE SCHOOL</h1>
                    <p class="lead wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms"></p>
                    <p class="lead wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms"></p>
                      <!--<a href="{% static '' %}images/tec-video.mp4" class="video-popup wow fadeInUp"-->
                       <!--data-wow-duration="1000ms" data-wow-delay="0.3s"><i class="fa fa-film"></i></a>-->
<a href="{% static '' %}images/Play.mp4" class="mr-3 video-popup" data-wow-duration="1000ms" data-wow-delay="0.3s">Watch Video</a>
                     <a href="/sign-in" class="topsignuptbtn">Sign In</a>
                    <a><marquee  direction="left">Admission Open for Session 2020-21.*NO Admission Fees*</marquee></a>
                    <section class="section">
</section>
                </div>
            </div>
        </div>
    </div>
</header>