{% load static %}
{% load staticencoder %}
<header>
   <div class="navigation">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/">
                    <img src="{% static '' %}images/LOGO.png" alt="HINDU MIDDLE SCHOOL">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggler-icon"></span>
                    <span class="toggler-icon"></span>
                    <span class="toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="page-scroll" href="/#hero-area">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="/#courses">Introduction</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="/#features">Message Corner</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="/#awards">Awards</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="/#blog">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="/#contact">Contact</a>
                        </li>
                         <li class="nav-item">
                             {% if user.is_authenticated %}
                           <div class="dropdown">
                          <button class="dropmenubtn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


                              {% if user.is_staff == 1 %}
                            <a href="/dashboard" class="dropdown-item" >Dashboard</a>
                              {% endif %}
                              {% endif %}
                             {% if user.is_authenticated %}
                             <a class="dropdown-item" href="/logout">Sign Out</a>
                            </div>
                            </div>
                              {% else %}
                                 <a href="/sign-in" class="dropmenubtn">Sign In </a>
                              {% endif %}


                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>