{% load static %}
{% include 'header.html' %}
<section class="user-section">
    <div class="container">
        <div class="row">
            <div class="user-form">
                <div class="tec-logo">
                    <a class="navbar-brand" href="/">
                        <img src="{% static '' %}images/tec-logo.png" alt="Tajinder's English Classes">
                    </a></div>
                <h1>Reset Your <b>Password?</b></h1>
                <p style="text-align:center;"><span class="parapadd">Password Reset Successfully!</span></p>
					<p style="text-align:center;">You have <b>Successfully</b> Reset the Password for Your TEC Acoount and Are
                        <a href="/sign-in" class="anchorcss">Sign in</a> to TEC.</p>
                <div class="text-center">
               <a target="_blank" href="https://play.google.com/store/apps/details?id=com.webtunix.techapp">
                    <img src="/static/images/playstore.png" alt="playstore.png" class="img-fluid playic"></a>
                    </div>
                <br>
                 <div class="text-center">
                  <a href="/" class="plyabtntype">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
