{% load static %}
{% include 'header.html' %}
<section class="user-section">
    <div class="container">
        <div class="row">
            <div class="user-form">
                <div class="tec-logo">
                    <a class="navbar-brand" href="/">
                        <img src="{% static '' %}images/tec-logo.png" alt="Tajinder's English Classes">
                    </a></div>
                <p class="checkemailtitle">An email has been sent. <br>
                    Follow the link given in the mail and reset your password.If you haven't received the mail, please check spam.
                </p>
                <div class="text-center">
               <a target="_blank" href="https://play.google.com/store/apps/details?id=com.webtunix.techapp">
                    <img src="/static/images/playstore.png" alt="playstore.png" class="img-fluid playic"></a>
                    </div>
                <br>
                 <div class="text-center">
                  <a href="/" class="plyabtntype">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>