{% load static %}
{% include 'header.html' %}
<section class="user-section">
    <div class="container">
        <div class="row">
            <div class="user-form">
                <div class="tec-logo">
                    <a class="navbar-brand" href="/">
                        <img src="{% static '' %}images/tec-logo.png" alt="Tajinder's English Classes">
                    </a></div>
                <h1>Reset Your Password</h1>
                  {% block content %}
                {% if validlink %}
                <p class="user-text">(Fields marked with <span class="field-required">*</span> are required.)
                </p>

                <form method="post">
                  {% csrf_token %}
                       <div class="form-group ">
                        <label> {{ form.new_password.label }}<span class="field-required">*</span></label>
                        {{ form.new_password }}
                        <span style="color:red">
                         {% for error in form.new_password.errors %}
                        {{error}}
                        {% endfor %}
                        </span>
                      </div>
                       <div class="form-group ">
                        <label> {{ form.confirm_new_password.label }}<span class="field-required">*</span></label>
                        {{ form.confirm_new_password }}
                        <span style="color:red">
                         {% for error in form.confirm_new_password.errors %}
                        {{error}}
                        {% endfor %}
                        </span>
                      </div>


                     <div class="form-btn1">
                    <div class="row">
                         <div class="col-6">
                              <a href="/" class="userbtn1">Back to Home</a>
                        </div>
						 <div class="col-6">
                             <input type="submit" value="Submit" class="userbtn2"/>
                        </div>
                    </div>
                </div>
                </form>
                {% else %}
                <p class="text-center">
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
                </p>
                <div class="text-center">
               <a target="_blank" href="https://play.google.com/store/apps/details?id=com.webtunix.techapp">
                    <img src="/static/images/playstore.png" alt="playstore.png" class="img-fluid playic"></a>
                    </div>
                <br>
                 <div class="text-center">
                  <a href="/" class="plyabtntype">Back to Home</a>
                </div>
                {% endif %}
                {% endblock %}

            </div>
        </div>
    </div>
</section>